@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom font -> Outfit */
@font-face {
  font-family: "Regular";
  src: local("Outfit-Regular"),
    url("./assets/fonts/Outfit-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Medium";
  src: local("Outfit-Medium"),
    url("./assets/fonts/Outfit-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Semibold";
  src: local("Outfit-Semibold"),
    url("./assets/fonts/Outfit-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Bold";
  src: local("Outfir-Bold"),
    url("./assets/fonts/Outfit-Bold.ttf") format("truetype");
}

/* Custom styles for the base layer */
@layer base {
  :root {
    --accent-foreground: 220, 74, 45;
  }
  * {
    @apply font-regular;
  }
}
